<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodata Kelompok</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo MyBiodata" class="logo">
            <h1>Biodata Kelompok</h1>
        </div>
    </header>
    
    <div class="container">
        <div class="profile">
            <img src="{{ url_for('static', filename='images/88160373_221568079230830_7125440856772837376_n.jpg') }}" alt="Foto Profil Mohd Hafiz Al Haq Haeruddin">
            <div class="info">
                <h2>Nama: Mohd Hafiz Al Haq Haeruddin</h2>
                <p>NIM: 22.83.0946</p>
                <p>Education: Teknik Komputer</p>
                <p>Penjelasan Singkat: Saya seorang mahasiswa dari Universitas Amikom. Saya sangat menyukai klub sepak bola dari Inggris yaitu Liverpool FC. Selain itu, saya juga suka makanan yang berasal dari Indonesia, terlebih lagi dengan seafoodnya.</p>
            </div>
        </div>
        <div class="profile">
            <img src="{{ url_for('static', filename='images/potter.jpg') }}" alt="Foto Profil Deni Ardiansyah">
            <div class="info">
                <h2>Nama: Deni Ardiansyah</h2>
                <p>NIM: 22.83.0909</p>
                <p>Education: Teknik Komputer</p>
                <p>Penjelasan Singkat: Saya seorang mahasiswa dari Universitas Amikom. Saya tertarik pada bidang programming. Selain itu, saya amat menyukai cosplay, saya juga sering menghadiri berbagai macam event yang sudah diadakan.</p>
            </div>
        </div>
        <div class="profile">
            <img src="{{ url_for('static', filename='images/rendy.jpg') }}" alt="Foto Profil Rendy Aditya Kurniawan">
            <div class="info">
                <h2>Nama: Rendy Aditya Kurniawan</h2>
                <p>NIM: 22.83.0910</p>
                <p>Education: Teknik Komputer</p>
                <p>Penjelasan Singkat: Saya seorang mahasiswa dari Universitas Amikom. Saya tertarik di bidang keamanan cyber. Hobi saya adalah mencari tahu tentang kerentanan sebuah sistem atau mempelajari malware.</p>
            </div>
        </div>
        <div class="profile">
            <img src="{{ url_for('static', filename='images/revel.jpg') }}" alt="Foto Profil King Revelius">
            <div class="info">
                <h2>Nama: Revel Exzellis</h2>
                <p>NIM: 22.83.0905</p>
                <p>Education: Teknik Komputer</p>
                <p>Penjelasan Singkat: Saya seorang mahasiswa dari Universitas Amikom. Hobi saya adalah mancing. saya juga amat meminati anime yang ada di jepang</p>
            </div>
        </div>
    </div>
</body>
</html>
